

<select>
    <option value="1">Hardback</option>
    <option value="1">TPB</option>
</select>

<select>
    <option value="2">X-Men</option>
    <option value="1">Hulk</option>
</select>

<input type="button" value="Go" onclick="Search()"/>
<a href="../Product/List/">grr</a>


<script type="text/javascript">
    function Search() {
        alert("_Search");
    }
</script>
